@import "../style.css";

.img {
    width:5%;
    height:5%;
}
.icon {
    width: 40%;
    height:40%;
}
.ideas {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.idea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.idea > img {
    width:40%;
    margin: 40px;
}

.idea-desc{
    width:50%;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.idea-desc >p {
    font-size: 18px;
}
.description {

    font-family: Basier Circle;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

.icon-detail h3{
    margin: 9px 0 0 0 ;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 31px;
}

.desc {
    margin: 0 10% 20px;
    text-align: center;
}

.sub-heading {
    text-align: center;
    margin: 0 30px 20px;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 31px;
}

.video-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}
.video{
    width: 100%;
    margin: 20px;
}
.video-detail {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.brille {
    width:50%;
}


.icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.icon-detail {
    margin: 50px 0 60px;
}

.icon-eye {
    width: 170.7pt;
    height: 89.5pt;
}

.beitrag-detail {
    text-align: center;
    margin: 10px 100px;
}

/* Media Queries */

@media only screen and (max-width: 1150px) {
    .video-section {
        flex-direction: column-reverse;
    }
    .video-detail {
        text-align: center;

    }
    .video-detail > p {
        margin: 0 50px;
    }
    .idea {
        flex-direction: column;
    }
}
@media only screen and (max-width: 435px) {
    .icons{
        flex-direction: column;
    }
}