@import "../style.css";

.img {
    width:5%;
    height:5%;
}

.ideas {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.idea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.idea > img {
    width:30%;
}

.idea > p {
    width:70%;
}

.description {

    font-family: Basier Circle;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

.idea-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px;
}

.desc {
    margin: 0 50px 20px;
    text-align: center;
}

.sub-heading {
    text-align: center;
    margin: 0 30px 20px;
    font-size: 35px;
}

.video-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}
.video{
    width: 100%;
    margin: 20px;
}
.video-detail {
    width: 100%;
    margin: 20px;
}