@import "../style.css";

.content {
    margin: 30px;
}
h3 {
    margin: 5px;
}
p   {
    margin: 0 20px;
}

.list {
    list-style-type: disc;
}

.list-item-data{
    display: list-item;
    margin: 0 50px;
}