@import "../style.css";

.sponsor {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 25px 25px;
}
/*
.sponsors{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
} */
.sponsors {
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}