@import "../style.css";


.image-container {
    display:flex;
    align-items: center;
    justify-content: center;
}


.status-image {
    width:100%;
}


.progressBar {
    border: 2px solid #121B33;
    border-radius: 5px;
    display:flex;
    justify-content:flex-start;
    color: #3498DB;
    font-size: 24px;
    font-weight:900;
}

.progress {
    background-color: #121B33;
    width:90%;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressbars {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-size: 36px;
    line-height: 43px;
}
/*
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
} */


.content {
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-type {
    font-family: Basier Circle;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}