@import "../style.css";


.team-section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.team-description {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #121B33;
}
.IT, .ME {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.member-picture:hover{
    color: black;
}


