* {
    font-family: Basier Circle;
}
.topic{
    text-align: center;
    text-decoration: underline;
    color: blue;
    font-size: 70px;
}

#description {
    position: absolute;
    width: 512px;
    height: 208px;
    left: 810px;
    top: 376px;

    font-family: Basier Circle;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

header{
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

nav{
    border-bottom: solid blue 3px;
}

.bild{
    display: flex;
    justify-content: center;
    align-items: center;
}